main.about {
  .image-container {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    position: relative;
    .background-overlay {
      width: 100%;
      height: 100%;
      background-color: $black;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
      opacity: .35;
    }
  }
  .about-block {
    padding: 5em 0;
    border-top: 1px solid $border-gray;
    .text-block {
      padding: 0 15%;
      @media ($tablet){
        padding: 0 5%;
      }
      @media ($mobile){
        padding: 0;
      }
      .title, .description {
        padding: 0 5%;
      }
    }
  }
  .map {
    padding: 5em 0 0;
    border-top: 1px solid $border-gray;
    .map-title {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 25% 2em;
      margin-bottom: 5em;
      @media ($tablet){
        padding: 0 15% 2em;
        margin-bottom: 4em;
      }
      @media ($mobile){
        padding: 0 10% 2em;
        margin-bottom: 3em;
      }
      span {
        color: $lightblue;
        font-size: 1em;
        margin-bottom: 2em;
        @media ($tablet){
          font-size: .875em;
          margin-bottom: 1.5em;
        }
        @media ($mobile){
          margin-bottom: 1em;
        }
      }
      h4 {
        color: $black;
        font-size: 3em;
        font-weight: bold;
        @media ($tablet){
          font-size: 2em;
        }
        @media ($mobile){
          font-size: 1.2em;
        }
      }
      p {
        color: $discover-gray;
        font-size: 1.5em;
        margin-top: 1.25em;
        @media ($tablet){
          font-size: 1.25em;
        }
        @media ($mobile){
          font-size: 1em;
        }
      }
      &:before {
        content: '';
        position: absolute;
        width: 3em;
        height: 2px;
        background-color: #4f586d;
        bottom: 0;
      }
    }
    .map-container {
      height: 70vh;
    }
  }
}