main.cars {
  .image-container {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    position: relative;
    .background-overlay {
      width: 100%;
      height: 100%;
      background-color: $black;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
      opacity: .35;
    }
  }
  .cars-container{
    padding: 5em 15%;
    border-top: 1px solid $border-gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    @media ($tablet){
      padding: 4em 5%;
    }
    @media ($mobile){
      padding: 3em 0;
    }
    .cars-title {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 10% 2em;
      margin-bottom: 5em;
      width: 100%;
      @media ($tablet){
        margin-bottom: 4em;
      }
      @media ($mobile){
        margin-bottom: 3em;
      }
      span {
        color: $lightblue;
        font-size: 1em;
        margin-bottom: 2em;
        @media ($tablet){
          font-size: .875em;
          margin-bottom: 1.5em;
        }
        @media ($mobile){
          margin-bottom: 1em;
        }
      }
      h4 {
        color: $black;
        font-size: 3em;
        font-weight: bold;
        @media ($tablet){
          font-size: 2em;
        }
        @media ($mobile){
          font-size: 1.2em;
        }
      }
      p {
        color: $discover-gray;
        font-size: 1.5em;
        margin-top: 1.25em;
        @media ($tablet){
          font-size: 1.25em;
        }
        @media ($mobile){
          font-size: 1em;
        }
      }
      &:before {
        content: '';
        position: absolute;
        width: 3em;
        height: 2px;
        background-color: #4f586d;
        bottom: 0;
      }
    }
    .car-block{
      width: calc(100% / 3  - 1em);
      min-height: 25em;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      margin-top: .7em;
      top: 0;
      transition: top $menu-transition;
      @media ($tablet){
        width: calc(100% / 2 - 1em);
      }
      @media ($mobile){
        width: 100%;
      }
      &:hover{
        top: -.5em;
      }
      a{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
      }
      .background-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.2);
        pointer-events: none;
        z-index: 0;
      }
      .title{
        margin-left: 1.5em;
        margin-bottom: 1.5em;
        font-weight: bold;
        text-transform: capitalize;
        @media ($tablet){
          margin-left: 1em;
          margin-bottom: 1em;
        }
        h3{
          font-size: 1.5em;
          @media ($tablet){
            font-size: 1.25em;
          }
          @media ($mobile){
            font-size: 1em;
          }
        }
      }
      .carseat{
        display: flex;
        align-items: center;
        margin-right: 1.5em;
        margin-bottom: 1.5em;
        @media ($tablet){
          margin-left: 1em;
          margin-bottom: 1em;
        }
        .icon {
          margin-right: .5em;
          svg{
            fill: $white;
            width: 1.5em;
          }
        }
        span {
          font-size: 1em;
        }
      }
      .title,.carseat{
        position: relative;
        z-index: 1;
        color: $white;
      }
    }
  }
}