main.gallery {
  .images-container {
    display: flex;
    flex-wrap: wrap;
    .image {
      width: 25%;
      @media ($tablet){
        width: 50%;
      }
      @media ($mobile){
        width: 100%;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.lightbox {
  .lb-image {
    border: none;
  }
}