main.home {
  .slider-container {
    width: 100%;
    max-height: calc(100vh - 5em);
    overflow-y: hidden;
    position: relative;
    .home-slider {
      width: 100%;
      .slide {
        height: calc(100vh - 5em);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .slide-description {
          color: $white;
          position: relative;
          z-index: 9999;
          text-transform: capitalize;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          padding: 0 25%;
          @media ($tablet){
            padding: 0 15%;
          }
          @media ($mobile){
            padding: 0 10%;
          }
          .location {
            margin-bottom: 2em;
            @media ($tablet) {
              margin-bottom: 1.5em;
            }
            @media ($mobile){
              margin-bottom: 1em;
            }
            span {
              font-size: 1.5em;
              @media ($tablet) {
                font-size: 1.125em;
              }
              @media ($mobile){
                font-size: .875em;
              }
            }
          }
          .title {
            margin-bottom: 2em;
            font-weight: bold;
            @media ($tablet) {
              margin-bottom: 1.5em;
            }
            @media ($mobile){
              margin-bottom: 1em;
            }
            h3 {
              font-size: 3em;
              @media ($tablet) {
                font-size: 2em;
              }
              @media ($mobile){
                font-size: 1.2em;
              }
            }
          }
          .read-more {
            margin-top: 2em;
            color: $white;
            border: 2px solid $white;
            border-radius: 30px;
            padding: 1em 2em 1.1em;
            font-weight: bold;
            position: relative;
            top: 1em;
            transition: background-color $menu-transition, color $menu-transition;
            @media ($tablet){
              padding: .6em 2em .7em;
            }
            span {
              font-size: 1em;
              @media ($tablet) {
                font-size: .875em;
              }
            }
            &:hover {
              background-color: $white;
              color: $black;
            }
          }
        }
      }
    }
    .slick-background {
      width: 100%;
      height: 100%;
      background-color: $black;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
      pointer-events: none;
      //opacity: .35;
      iframe{
        opacity: 1;
        width: 100%;
        height: 160.485%;
        position: absolute;
        left: 0px;
        top: -30.2427%;
        display: block;
      }
    }
    .slick-navigation {
      .slick-next, .slick-prev {
        position: absolute;
        color: red;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 999;
        &.slick-next {
          right: 3.25em;
          @media ($tablet){
            right: 1.5em;
          }
          @media ($mobile){
            right: .7em;
          }
          svg {
            width: 3em;
            transform: rotate(180deg);
            fill: $white;
            @media ($tablet){
              width: 2.5em;
            }
            @media ($mobile){
              width: 2em;
            }
          }
        }
        &.slick-prev {
          left: 3.25em;
          @media ($tablet){
            left: 1.5em;
          }
          @media ($mobile){
            left: .7em;
          }
          svg {
            width: 3em;
            fill: $white;
            @media ($tablet){
              width: 2.5em;
            }
            @media ($mobile){
              width: 2em;
            }
          }
        }
      }
    }
  }
  .discover-more {
    color: $discover-gray;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5em;
    span {
      font-size: .875em;
      cursor: pointer;
    }
  }
  .tours-container {
    padding: 5em 0;
    border-top: 1px solid $border-gray;
    @media ($tablet){
      padding: 4em 0;
    }
    @media ($mobile){
      padding: 3em 0;
    }
    .tours-title {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 25% 2em;
      @media ($tablet){
        padding: 0 15% 2em;
      }
      @media ($mobile){
        padding: 0 10% 2em;
      }
      span {
        color: $lightblue;
        font-size: 1em;
        margin-bottom: 2em;
        @media ($tablet){
          font-size: .875em;
          margin-bottom: 1.5em;
        }
        @media ($mobile){
          margin-bottom: 1em;
        }
      }
      h4 {
        color: $black;
        font-size: 3em;
        font-weight: bold;
        @media ($tablet){
          font-size: 2em;
        }
        @media ($mobile){
          font-size: 1.2em;
        }
      }
      p {
        color: $discover-gray;
        font-size: 1.5em;
        margin-top: 1.25em;
        @media ($tablet){
          font-size: 1.25em;
        }
        @media ($mobile){
          font-size: 1em;
        }
      }
      &:before {
        content: '';
        position: absolute;
        width: 3em;
        height: 2px;
        background-color: #4f586d;
        bottom: 0;
      }
    }
    .tours-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 10%;
      margin-top: 5em;
      @media ($tablet){
        margin-top: 4em;
      }
      @media ($mobile){
        margin-top: 3em;
      }
      .tour-block {
        width: calc(25% - .3em);
        transition: background-color $menu-transition;
        @media ($tablet) {
          width: calc(50% - .3em);
        }
        @media ($mobile) {
          width: 100%;
        }
        &:hover {
          background-color: #f7f9fd;
        }
        .tour-image {
          position: relative;
          padding-bottom: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          overflow: hidden;
          .image-background {
            position: absolute;
            width: 100%;
            height: 100%;
            top: -100%;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 9;
            opacity: 0;
            transition: all $menu-transition;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
              color: $white;
              font-size: 1.25em;
              font-weight: bold;
              text-transform: capitalize;
              @media ($tablet) {
                font-size: 1.125em;
              }
              @media ($mobile) {
                font-size: 1em;
              }
            }
          }
          &:hover {
            .image-background {
              opacity: 1;
              top: 0;
            }
          }
        }
        .tour-description {
          text-align: center;
          text-transform: capitalize;
          padding: 0 15%;
          margin: 5em 0;
          @media ($tablet) {
            margin: 4em 0;
            padding: 0 10%;
          }
          @media ($mobile) {
            margin: 3em 0;
          }
          .location {
            color: $discover-gray;
            span {

            }
          }
          .title {
            color: $black;
            font-weight: bold;
            margin-top: 2em;
            margin-bottom: 5em;
            @media ($tablet) {
              margin-top: 1.5em;
              margin-bottom: 4em;
            }
            @media ($mobile) {
              margin-top: 1em;
              margin-bottom: 3em;
            }
            h4 {

            }
          }
          .read-story {
            color: $lightblue;
            span {

            }
          }
        }
      }
    }
  }
  .cars-container {
    padding: 5em 0;
    border-top: 1px solid $border-gray;
    @media ($tablet){
      padding: 4em 0;
    }
    @media ($mobile){
      padding: 3em 0;
    }
    .cars-title {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 25% 2em;
      @media ($tablet){
        padding: 0 15% 2em;
      }
      @media ($mobile){
        padding: 0 10% 2em;
      }
      span {
        color: $lightblue;
        font-size: 1em;
        margin-bottom: 2em;
        @media ($tablet){
          font-size: .875em;
          margin-bottom: 1.5em;
        }
        @media ($mobile){
          margin-bottom: 1em;
        }
      }
      h4 {
        color: $black;
        font-size: 3em;
        font-weight: bold;
        @media ($tablet){
          font-size: 2em;
        }
        @media ($mobile){
          font-size: 1.2em;
        }
      }
      p {
        color: $discover-gray;
        font-size: 1.5em;
        margin-top: 1.25em;
        @media ($tablet){
          font-size: 1.25em;
        }
        @media ($mobile){
          font-size: 1em;
        }
      }
      &:before {
        content: '';
        position: absolute;
        width: 3em;
        height: 2px;
        background-color: #4f586d;
        bottom: 0;
      }
    }
    .cars-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 10%;
      margin-top: 5em;
      @media ($tablet){
        margin-top: 4em;
      }
      @media ($mobile){
        margin-top: 3em;
      }
      .car-block {
        width: calc(25% - .3em);
        transition: background-color $menu-transition;
        @media ($tablet) {
          width: calc(50% - .3em);
        }
        @media ($mobile) {
          width: 100%;
        }
        &:hover {
          background-color: #f7f9fd;
        }
        .car-image {
          position: relative;
          padding-bottom: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          overflow: hidden;
          .image-background {
            position: absolute;
            width: 100%;
            height: 100%;
            top: -100%;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 9;
            opacity: 0;
            transition: all $menu-transition;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
              color: $white;
              font-size: 1.25em;
              font-weight: bold;
              text-transform: capitalize;
              @media ($tablet) {
                font-size: 1.125em;
              }
              @media ($mobile) {
                font-size: 1em;
              }
            }
          }
          &:hover {
            .image-background {
              opacity: 1;
              top: 0;
            }
          }
        }
        .car-description {
          text-align: center;
          text-transform: capitalize;
          padding: 0 15%;
          margin: 5em 0;
          @media ($tablet) {
            margin: 4em 0;
            padding: 0 10%;
          }
          @media ($mobile) {
            margin: 3em 0;
          }
          .car-option {
            margin: 1em 0;
            .title {
              color: $black;
              font-weight: bold;
              font-size: 1.25em;
              @media ($tablet) {
                font-size: 1.125em;
              }
              @media ($mobile) {
                font-size: 1em;
              }
            }
            .answer {
              font-size: 1.25em;
              font-weight: bold;
              color: $lightblue;
              @media ($tablet) {
                font-size: 1.125em;
              }
              @media ($mobile) {
                font-size: 1em;
              }
            }
          }
        }
      }
    }
  }
  .contact {
    padding: 5em 0 5em 10%;
    border-top: 1px solid $border-gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @media ($tablet) {
      padding: 4em 0;
    }
    @media ($mobile) {
      padding: 3em 0;
    }
    .left {
      width: calc(40% - 2em);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @media ($tablet) {
        width: 100%;
        padding: 0 10%;
        margin-bottom: 2em;
        justify-content: center;
      }
      .title {
        width: 100%;
        color: $black;
        font-weight: bold;
        margin-bottom: 2em;
        @media ($tablet) {
          margin-bottom: 1.5em;
        }
        @media ($mobile) {
          margin-bottom: 1em;
        }
        span {
          font-size: 2.5em;
          @media ($tablet) {
            font-size: 2em;
          }
          @media ($mobile) {
            font-size: 1.5em;
          }
        }
      }
      .half-input {
        width: calc(50% - 1em);
        height: 4em;
        @media ($tablet) {
          width: 100%;
          height: 3em;
        }
      }
      .textarea {
        width: 100%;
        height: 10em;
        resize: none;
        @media ($tablet) {
          height: 8em;
        }
      }
      .half-input, .textarea {
        margin-bottom: 2em;
        outline: none;
        border: 0;
        border-bottom: 1px solid $black;
        color: $black;
        font-size: 1.25em;
        padding: 0 10px;
        @media ($tablet) {
          margin-bottom: 1.5em;
          font-size: 1.125em;
        }
        @media ($mobile) {
          font-size: 1em;
        }
        &::-webkit-input-placeholder {
          color: $black;
        }
        &:-ms-input-placeholder {
          color: $black;
        }
        &::placeholder {
          color: $black;
        }
      }
      .send-button {
        outline: none;
        background: none;
        padding: 1em 3em;
        border: 2px solid $black;
        border-radius: 35px;
        color: $black;
        cursor: pointer;
        transition: background $menu-transition, color $menu-transition;
        &:hover {
          background: $black;
          color: $white;
        }
        span {
          font-size: 1.25em;
          @media ($tablet) {
            font-size: 1.125em;
          }
          @media ($mobile) {
            font-size: 1em;
          }
        }
      }
    }
    .right {
      width: calc(60% - 2em);
      @media ($tablet) {
        width: 100%;
      }
      .map-container {
        height: 70vh;
      }
    }
  }
}