main.tour {
  .image-container {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    position: relative;
    .background-overlay {
      width: 100%;
      height: 100%;
      background-color: $black;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
      opacity: .35;
    }
  }
  .tour-container {
    padding: 5em 15%;
    border-top: 1px solid $border-gray;
    @media ($tablet){
      padding: 4em 5%;
    }
    @media ($mobile){
      padding: 3em 5%;
    }
    .tour-content {
      .title {
        font-weight: bold;
        text-transform: capitalize;
        color: $black;
        margin-bottom: 3em;
        text-align: center;
        @media ($tablet){
          margin-bottom: 2.5em;
        }
        @media ($mobile){
          margin-bottom: 2em;
        }
        h2 {
          font-size: 3.5em;
          @media ($tablet){
            font-size: 3em;
          }
          @media ($mobile){
            font-size: 2.5em;
          }
        }
      }
      .description {
        .text-block {
          .title {
            text-align: left;
            font-weight: bold;
            text-transform: capitalize;
            color: $black;
            margin-bottom: 1em;
          }
        }

      }
      .plan-container {
        @media ($mobile){
          width: calc(100% + 11%);
          left: -5.5%;
          position: relative;
        }
        .plan {
          border-bottom: 1px solid $black;
          @media ($mobile){
            padding: 0 5%;
          }
          &.active {
            .plan-header {
              .icon {
                svg {
                  .vertical {
                    display: none;
                  }
                }
              }
            }
            .plan-description {
              max-height: 30em;
              padding: 2em 1em;
              overflow: auto;
              @media ($tablet){
                padding: 1em 0;
              }
            }
          }
          .plan-header {
            padding: 2em 1em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            @media ($tablet){
              padding: 1em 0;
            }
            .duration {
              width: 20%;
              font-size: 1.5em;
              color: $black;
              font-weight: bold;
              @media ($tablet){
                font-size: 1em;
              }
            }
            .plan-title {
              width: 60%;
              font-size: 1.5em;
              color: $black;
              text-align: center;
              @media ($tablet){
                font-size: 1em;
              }
            }
            .icon {
              width: 20%;
              display: flex;
              justify-content: flex-end;
              svg {
                width: 2.5em;
                fill: $black;
                @media ($tablet){
                  width: 1.875em;
                }
              }
            }
          }
          .plan-description {
            max-height: 0;
            overflow: hidden;
            transition: max-height $menu-transition, padding $menu-transition;
            p {
              color: $text-color;
              font-size: 1.25em;
              margin-top: .5em;
              margin-bottom: .5em;
              @media ($tablet){
                font-size: 1em;
              }
            }
          }
        }
      }
      .amenities {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .title {
          width: 100%;
          text-align: left;
          font-weight: bold;
          text-transform: capitalize;
          color: $black;
          margin-top: 3em;
          margin-bottom: 1em;
          h2 {
            font-size: 2.5em;
            @media ($tablet){
              font-size: 2em;
            }
            @media ($mobile){
              font-size: 1.5em;
            }
          }
        }
        .amenity-block {
          width: calc(100% / 3 - .1em);
          display: flex;
          align-items: center;
          margin-top: 1.5em;
          margin-bottom: 1.5em;
          padding: 0 5% 0 0;
          @media ($tablet){
            width: calc(100% / 2 -.1em);
          }
          @media ($mobile){
            width: 100%;
          }
          .icon {
            margin-right: 1em;
            svg {
              width: 3em;
              fill: $checkmark-green;
              @media ($tablet){
                width: 2.5em;
              }
              @media ($mobile){
                width: 2em;
              }
            }
          }
          .right {
            span {
              font-size: 1.5em;
              color: $black;
              font-weight: bold;
              @media ($tablet){
                font-size: 1.25em;
              }
              @media ($mobile){
                font-size: 1em;
              }
            }
            p {
              font-size: 1.125em;
              color: $text-color;
              margin-top: .5em;
              @media ($mobile){
                font-size: 1em;
              }
            }
          }
        }
      }
      .share {
        padding: 2em 0;
        display: flex;
        align-items: center;
        @media ($tablet){
          padding: 1em 0;
        }
        span {
          font-size: 1.5em;
          color: $black;
          @media ($tablet){
            font-size: 1.25em;
          }
          @media ($mobile){
            font-size: 1em;
          }
        }
        .fb-share {
          margin-right: 1.5em;
          svg {
            width: 2.5em;
            transition: $menu-transition;
            @media ($tablet){
              width: 2em;
            }
            &:hover {
              fill: $lightblue;
            }
          }
        }
      }
      .view-all-tours {
        display: flex;
        justify-content: center;
        margin-top: 5em;
        @media ($tablet){
          margin-top: 4em;
        }
        @media ($mobile){
          margin-top: 3em;
        }
        .view-all {
          color: $black;
          border: 2px solid $black;
          border-radius: 30px;
          padding: 1em 2em 1.1em;
          font-weight: bold;
          position: relative;
          transition: background-color $menu-transition, color $menu-transition;
          @media ($mobile){
            padding: .8em 1.5em .9em;
          }
          span {
            font-size: 1em;
            @media ($mobile){
              font-size: .875em;
            }
          }
          &:hover {
            background-color: $black;
            color: $white;
          }
        }
      }
    }
  }
}