footer{
  padding: 5em 0;
  border-top: 1px solid $border-gray;

  @media ($tablet) {
    padding: 3em 0;
  }
  .footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo{
      margin-bottom: 2.5em;
      span {
        font-size: 4em;
        color: $black;
        font-weight: bold;
      }
    }
    .footer-menu{
      margin-bottom: 2.5em;
      nav{
        display: flex;
        @media ($tablet) {
          flex-direction: column;
          text-align: center;
        }
        li{
          margin-right: 2.5em;
          @media ($tablet) {
            margin-right: 0;
            margin-bottom: 1em;
          }
          &:last-of-type{
            margin-right: 0;
          }
          a{
            color: $black;
            transition: color $menu-transition;
            font-size: 1.25em;
            @media ($tablet) {
              font-size: 1.125em;
            }
            @media ($mobile) {
              font-size: 1em;
            }
            &:hover{
              color: $lightblue;
            }
          }
        }
      }
    }
    .socials{
      margin-bottom: 2.5em;
      a {
        margin: 0 1em;
        svg{
          width: 40px;
          transition: $menu-transition;

          @media ($tablet) {
            width: 26px;
          }
          &:hover{
            fill: $lightblue;
          }
        }
      }
    }
  }
}