.text-block{
  h2,h3{
    color: $black;
    font-size: 2.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
    @media ($tablet){
      font-size: 2em;
    }
    @media ($mobile){
      font-size: 1.5em;
    }
    &:first-of-type{
      margin-top: 0;
    }
  }
  p {
    color: $text-color;
    font-size: 1.125em;
    line-height: 2em;
    @media ($tablet){
      font-size: 1em;
    }
  }
  img{
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
  }
}