header{
  width: 100%;
  position: fixed;
  z-index: 9999;
  &.open{
    .menu{
      width: 100%;
      height: 10em;
      transform: translate3d(0,0,0);
      @media ($tablet){
        height: 100vh;
      }
    }

    .burger-menu{
      background-color: rgba(0, 123, 255, 0.08);

      .line{
        background-color: #ad3030;
        width: 50%;

        &.line1{
          top: 3px;
          transform: rotate(-45deg);
        }
        &.line2{
          opacity: 0;
        }
        &.line3{
          top: -3px;
          transform: rotate(45deg);
        }
      }
    }
  }
  .burger-menu{
    width: 3.5em;
    height: 3.5em;
    background-color: $lightgreen;
    position: absolute;
    transform: translate3d(5.2em, 3.6em, 0);
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: all .3s;
    @media ($tablet){
      width: 3em;
      height: 3em;
      transform: translate3d(1.5em, 1.5em, 0);
    }
    @media ($mobile){
      transform: translate3d(1em, 1em, 0);
    }
    .line{
      position: relative;
      width: 40%;
      height: 3px;
      background-color: $white;
      transition: all .3s;

      &.line1{
        top: -4px;
      }
      &.line3{
        top: 4px;
      }
    }
  }
  .menu{
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    transition: width $menu-transition, height $menu-transition,transform $menu-transition;
    transition-delay: 0s;
    background: $lightgreen;
    transform: translate3d(calc(3.25em + (3.5em / 2)),calc(3.25em + (3.5em /2)),0);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media ($tablet){
      justify-content: center;
      text-align: center;
    }
    nav{
      display: flex;
      position: relative;
      right: 3.25em;
      @media ($tablet){
        flex-direction: column;
        right: 0;
      }
      li{
        margin-right: 2em;
        @media ($tablet){
          margin-right: 0;
          margin-bottom: 2em;
        }
        a{
          color: #8c8989;
          transition: color $menu-transition;
          font-size: 1.25em;
          &:hover{
            color: $white;
          }
          @media ($tablet){
            font-size: 1.5em;
          }
        }
      }
    }
  }
  .lang{
    width: 3.5em;
    height: 3.5em;
    background-color: $lightgreen;
    position: absolute;
    transform: translate3d(1.2em, 3.6em, 0);
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: all .3s;
    @media ($tablet){
      width: 3em;
      height: 3em;
      transform: translate3d(1.5em, 1.5em, 0);
    }
    @media ($mobile){
      transform: translate3d(1em, 1em, 0);
    }
    .active-language{
      color: $white;
      transition: color 0.4s cubic-bezier(0.7, 0, 0.3, 1);
      font-size: 1.25em;
      display: block;
      cursor: pointer;
      &.active{
        color: #ad3030;
      }
    }
    .dropdown-container{
      position: absolute;
      transition: max-height 0.4s cubic-bezier(0.7, 0, 0.3, 1);
      top: 3.5em;
      overflow: hidden;
      max-height: 0;
      &.active{
        max-height: 20vh;
      }
      a{
        width: 3.5em;
        height: 3.5em;
        background-color: $lightgreen;
        top: 0;
        left: 0;
        z-index: 9;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        color: #8c8989;
        transition: color 0.4s cubic-bezier(0.7, 0, 0.3, 1);
        font-size: 1em;
        display: flex;
        &.active{
          display: none;
        }
        &:hover{
          color: $white;
        }
      }
    }
  }
}

// Open Home
main{
  position: relative;
  top: 0;
  transition: top $menu-transition;
  &.open{
    top: 10em;
  }
}
// Open Home
footer{
  position: relative;
  top: 0;
  transition: top $menu-transition;
  &.open{
    top: 10em;
  }
}