html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 15px;
  vertical-align: baseline;
  font-family: 'Montserrat', sans-serif;
  text-transform: lowercase !important;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

//.loader{
//  opacity: 1;
//  transition: all 0.5s;
//  background-image: url('../assets/images/loader.gif');
//  position: fixed;
//  left: 0;
//  top: 0;
//  bottom: 0;
//  background-repeat: no-repeat;
//  background-position: center;
//  right: 0;
//  background-color: #0e111f;
//  z-index: 999999;
//
//  &.loaded{
//    opacity: 0;
//    visibility: hidden;
//  }
//}
//
//body {
//  line-height: 1;
//   main{
//
//     opacity: 0;
//     transition: all .5s;
//
//     &.loaded{
//       opacity: 1;
//     }
//   }
//}

ol, ul, nav {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  outline: none;
  &:hover, &:focus {
    text-decoration: none;
  }
}