$black: #0b0e16;
$white: #ffffff;
$blue: #03adfc;
$lightgreen: #0E111F;
$discover-gray: #c7cad5;
$border-gray: #edeef0;
$lightblue: #9cb3e2;
$text-color: #50586d;
$checkmark-green: #2FB26B;

$menu-transition: .4s cubic-bezier(0.7,0,0.3,1);

$mobile: 'max-width: 768px';
$tablet: 'max-width: 1200px';